.page1{
    text-align: center;

    font-size: 30px;
    
}
ul{list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;

}
li{padding:10px 50px 10px 50px;
   display: block;
   text-align: center;
}
li:hover{background-color:red}

/*@keyframes 導覽列{
    from{background-color: red;}
    to{background-color: yellow;}

}
.li{animation-name:導覽列; */
 
    
}

p{
    font-size: 20px;
}
body{
    background-color: rgb(139, 172, 172);
    margin:0px;

}
.flex-1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.flex-1-1{
    background-color: red;
    color:beige;
    border:0.5px solid rgba(235, 100, 100, 0.849);
    text-align:center;
    padding:5px 50px;
} 
